# project settings
SECRET_KEY=keginchalik_ozgartirish_kerak_prodga_chiqarganimda
DEBUG=True # agar debugni False qilmoqchi bo'lsangiz shunchaki bo'sh qoldiring!

# database settings
POSTGRES_DB=library
POSTGRES_USER=library_user
POSTGRES_PASSWORD=secretpass123!
DB_NAME=db
DB_PORT=5432

# celery settings
CELERY_BROKER_URL=redis://redis:6379/0
